:root {
    font-family: "Times", serif;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #764b2f;
    background-image: url("../1000031690.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navBar {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 98%;
    height: 5rem;
    align-items: stretch;
}

.sign {
    border: 2px solid #193335;
    height: 100%;
    width: 10rem;
    align-content: center;
    text-align: center;
    padding-top: 1rem;
    background-image: url("../sign.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
