:root {
    --lapis: #26619c;
    --gold: #D4AF37;
    --test: #173B5F;
    --burnt-lapis: #0C1F31;
    --light-lapis: #638EB8;
}

.home {
    font-size: 1.5rem;
    height: 4rem;
    width: 10rem;
    align-content: center;
    text-align: center;
    background-image: url("../sign.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
